.AboutMe {
  /* background-color: #10121b; */
  /* background: rgb(91, 105, 112);
  background: linear-gradient(
    90deg,
    rgba(91, 105, 112, 0.9864320728291317) 60%,
    rgba(39, 58, 66, 0.9864320728291317) 87%
  ); */
  padding-bottom: 5%;
  /* height: 800px; */
}
.AboutMe .Container .Photo {
  width: 35%;
  display: flex;
  justify-content: center;
}
.AboutMe .Container .Photo .Me {
  height: 500px;
  border-radius: 10%;
}
.AboutMe .Container {
  display: flex;
}
.AboutMe .Container .Text {
  width: 47%;
  margin-left: 10%;
}
